<li class="nav-item">
  <%#= link_to 'Sign Up', register_path, class: 'nav-link signup-btn btn btnsuccess py-1 mx-3', data: { turbolinks: false } %>
  <span>Sign up</span>
</li>

<li class="nav-item">
  <span>Log In</span>
  <%#= link_to 'Log In', login_path, class: 'nav-link mx-3' %>
</li>