<table class="table table-hover table-striped">
  <thead>
    <tr>
      <th scope="col">Name</th>
    </tr>
  </thead>
  <tbody>
    <% items.each do |item| %>
      <tr>
        <td><%= item.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>