<div class="jumbotron jumbotron-fluid mb-0">

  <div class="container">

    <h1 class="display-4 text-white">Visualize your personal finances today</h1>

    <p class="lead mb-5">Dominate your cash flow.</p>

  </div>

</div>