@import "./variables";

body {
  font-family: 'Muli', sans-serif;
  position: relative;
}

#header {
  position: relative;
}

#add-button {
  border-color: $lightBlueColor;
  position: absolute;
  right: 10px;
  top: 5px;
}